.result-overview {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 1fr;
    grid-gap: 0 2rem;
    @media screen and (max-width: 480px) {
        display: block;
    }
    &-img {
        box-shadow: 0 0 1rem var(--border-color-navigation), 0 0 1rem var(--border-color-navigation);
        border: 1px solid var(--app-color);
        img {
            height: 100%;
            width: 100%;
        }
    }
    &-info {
        &-desc {
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: max-content 1fr max-content;
            height: 100%;
            &-headline {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid var(--border-color-navigation);
                h3 {
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    margin: 0;
                    margin-bottom: 0.25rem;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            &-body {
                height: 100%;
                h4 {
                    font-size: 1.125rem;
                    margin-bottom: 0.25rem;
                    text-decoration: underline;
                }
                p {
                    text-align: justify;
                    line-height: 1.5rem;
                    font-size: 1rem;
                    margin: 0.5rem 0;
                }
            }
        }
    }
}

.overview-footer {
    justify-content: flex-end;
    min-height: 3rem;
    &-btn {
        padding: 1rem!important;
        font-weight: bolder;
        
        &-remove {
            background-color: var(--error);
            border-color: var(--error);
            color: var(--app-color);
        }
    }
}
