.cc-option {
    padding: 0.75rem 0.375rem;
    max-height: 2.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover, &-current {
        color: var(--app-highlight);
        background-color: var(--form-element-hover);
    }

    &-disabled {
        color: var(--form-element-disabled-color);
        background-color: 1px solid var(--form-element-bg);
        cursor: not-allowed;
    }
}