.content-card {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr repeat(2, min-content);
    height: 100%;
    position: relative;
    box-shadow: 0 0 0.5rem 0 var(--card-box-shadow-color-hover);

    &-img img{
        height: 100%;
    }

    &-header span {
        text-transform: capitalize;
        &:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-footer {
        padding: 0.25rem 0.75rem;
        justify-content: space-between;
        align-items: center;
    }
    &-btn {
        position: absolute;
        top: -0.75rem;
        
        padding: 0.5rem;
        box-shadow: 0 0 0.5rem 0 var(--card-box-shadow-color-hover);
        border-radius: 50%;
        background-color: var(--btn-icon-hover-bg);

        .cc-icon { color: var(--carousel-edit-btn-color) }

        &.hidden { display: none }

        &-remove {
            right: -0.75rem;
        }
        &-edit {
            left: -0.75rem;
        }
    }
    &-edit-modal {
        max-width: 35rem;
    }
}