.tourney-card {
    width: 100%;
    &-header {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
    }
    &-body {
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        &-formats {
            text-align: center;
            &-icons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                svg {
                    width: 3rem;
                    height: auto;
                }
            }
        }
    }
}