.cc-option {
    padding: 0.85rem 0.425rem;
    max-height: 3.15rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover, &-current {
        color: var(--select-option-selected-color);
        background-color: var(--select-option-selected-bg-color);
    }
}

.cc-select-options {
    .cc-option-disabled {
        color: var(--select-list-background-color);
        background-color: 1px solid var(--select-option-disable-color);
        cursor: not-allowed;
    }
}