.knockout-config {
    &-navigator .cc-tab-button {
        width: 100%;
    }
    &-content {
        margin: 1rem 0.5rem;
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            svg {
                height: 2rem;
                width: auto;
            }
        }
        .jornada-container {
            margin: 1rem 0;
            h4 {
            color: var(--app-highlight);
            font-weight: bold;
        }}

        &-calendar-accordion {
            margin-bottom: 1rem;
            &-trigger {
                .cc-accordion-title-content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}