.tourney-form {
    @media screen and (min-width: 768px) {
        margin: 0 2rem 0 5rem;
    }
    
    &-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1rem;
        img {
            height: 4rem;
            width: auto;
        }
    }

    &-title, &-container {
        margin: 0 5%;
        @media screen and (min-width: 768px) {
            margin: 0 0 0 2rem;
        }
    }

    &-container {
        .cc-form-field {
            margin: 1.5rem 0;
        }
        margin-bottom: 3rem;
    }

    &-new-team {
        text-align: right;
        cursor: pointer;
        background: none;
        border: none;
        color: var(--btn-primary-color-bg);
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    &-equipo-list {
        display: grid;
        grid-template-columns: 1fr max-content;
        justify-content: center;
        align-items: center;
    }

    &-action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 1rem 0.5rem;
        background-color: var(--navigation-bg);

        @media screen and (min-width: 768px) {
            width: calc(100% - 5rem);
        }

        button {
            margin: 0 1rem;
        }

        &-del{
            height: max-content;
            padding: 0.25rem;
            background: var(--error);
            border-radius: 50%;
        }
    }
}