.cc-error {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    &-headline {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        &-icon {
            color: var(--error);
            svg {
                height: 5rem;
                width: 5rem;
            }
        }
    }
    &-msg {
        text-align: center;
        margin: 0.5rem;
    }

}