.team-form {
    position: relative;
    height: 100%;
    & > form {
        position: relative;
        padding-bottom: 6rem;
    }
    .cc-form-field {
        margin: 1.5rem 0;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        img {
            height: 4rem;
            width: auto;
        }
    }
    & > h1 {
        margin: 0 0.5rem;
    }
    &-fields {
        margin: 0 0.5rem;
    }
    &-new-player {
        text-align: right;
        cursor: pointer;
        background: none;
        border: none;
        color: var(--btn-primary-color-bg);
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    &-player-list {
        display: grid;
        grid-template-columns: 1fr max-content 24px;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &-action-buttons {
        display: flex;
        width: calc(100%);
        justify-content: space-between;
        position: fixed;
        background-color: var(--navigation-bg);
        bottom: 0;
        padding: 1rem 0rem;
        margin: 0 -0.5rem;
        button {
            margin: 0 1rem;
        }
    }
}