.header-profile-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: initial;
    &:hover {
        background-color: var(--btn-icon-hover-bg);
    }
    &:focus {
        background-color: var(--btn-icon-focus-bg);
    }
    .cc-avatar { cursor: pointer; }

    .icon-avatar {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        cursor: pointer;
        .cc-icon svg {
            height: 2rem;
            width: 2rem;
        }
    }
}