.team-card {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin: 1rem 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &-header {
        h2{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        gap: 1rem;
        &-player-count {
            display: flex;
            align-items: center;
        }
        &-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}