.team-card {
    width: 100%;
    margin-block: 1rem;
    &-header {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        gap: 1rem;
        &-player-count {
            display: flex;
            align-items: center;
        }
        &-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}