.cc-select-search {
    display: none;
    padding: 0.85rem 0.425rem;
    max-height: 3.15rem;
    background-color: var(--select-list-background-color);
    border: 1px solid var(--select-option-border-color);
    border-bottom: 1px solid var(--form-element-border);
    
    &-input {
        background-color: inherit;
        border: none;
        color: inherit;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }

    &-icon {
        justify-self: flex-end;
        fill: var(--select-trigger-icon-color)
    }
}

.cc-select-open {
    .cc-select-search {
        display: flex;
        align-items: center;
    }
}