.multi-add-modal {
    margin: 0 5%;
    max-width: 40rem;
    &-tabs {
        justify-content: space-evenly;
    }
    &-body {
        @media screen and (min-width: 768px) {
            padding: 2rem 5%;
        }
    }

    p {
        margin-bottom: 0;
    }
    &-text-area {
        height: 100%;
        resize: none;
        min-height: 8rem;
    }
    &-footer {
        justify-content: space-evenly;
        button + button { margin-top: 0;}
    }
}