.player-card {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin: 1rem 0.5rem;
    &-header {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 1rem;
        &-player-count {
            display: flex;
            align-items: center;
        }
        &-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}