.player-form {
    padding-top: 2rem;

    &-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1rem;
        img {
            height: 4rem;
            width: auto;
        }
    }

    &-container {
        margin: 0 5% 3rem;
        .cc-form-field {
            margin: 1.5rem 0;
        }
        @media screen and (min-width: 768px) {
            margin: 0 2rem 0 7rem;
        }
        @media screen and (min-width: 1366px) {
            margin-left: calc(7rem + var(--page-side-space));
            margin-right: calc(2rem + var(--page-side-space));
        }
    }

    &-numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .cc-form-field { margin: 0;}
        margin: 1.5rem 0;
    }

    &-list {
        display: flex;
        justify-content: flex-start;
        .cc-list, .cc-list li {
            padding: 0 1rem;
        }
        &-sanction {
            padding: 0;
            display: flex;
            justify-content: space-around;
            gap: 1.5rem;
        }
    }

    &-new-player {
        text-align: right;
        cursor: pointer;
        background: none;
        border: none;
        color: var(--btn-primary-color-bg);
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    &-player-list {
        display: grid;
        grid-template-columns: 1fr max-content 24px;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &-action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 1rem 2rem;
        background-color: var(--navigation-bg);

        @media screen and (min-width: 768px) {
            width: calc(100% - 5rem);
            left: 5rem;
        }
    }
}