.home-container {
    padding-block: 0.5rem 3rem;
    margin-block: 4rem 0;
    &-filter {
        margin: 0 5%;
    }
    .add-new {
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        .cc-icon {
            color: var(--app-highlight);
            box-shadow: 0 0 5% var(--app-bg);
            border-radius: 50%;
            background: var(--app-bg);
            svg {
                width: 3rem;
                height: auto;
            }
        }
    }
}