.cc-form-field-date-input {
    position: initial;
}

.cc-date-picker-wrapper {
    height: 1.5rem;
    /*
    .cc-date-picker {
        font-family: Calibri;
        font-weight: lighter;
        font-size: 1rem;

        color: var(--app-color);
        background: var(--form-element-bg);
        border: none;
        border-bottom: 1px solid var(--form-element-border);

        display: block;
        height: 3.15rem;
        width: 100%;
        resize: vertical;

        transition: padding-left 300ms var(--ease-in-out-expo);
        line-height: 1.5rem;

        .react-date-picker__inputGroup {
            padding: 1.4rem 0.715rem 0.07rem;
            & + .react-date-picker__button { margin-left: auto;}
            &__leadingZero { padding-left: 1px; }
            &__divider { color: var(--app-color); }
            &__input:invalid { background: transparent; }
        }

        &:hover:not(.react-date-picker--disabled),
        &.react-date-picker--open {
            background-color: var(--form-element-hover);
            .cc-calendar { margin-top: 0.07rem; }
            .react-date-picker__calendar-button { top: 0.035rem}
            &:after {
                content: '';
                bottom: -0.07rem;
                height: 0.14rem;
                background-color: 1px solid var(--form-element-border);
                position: absolute;
                left: 0;
                right: 0;
            }
        }

        &.cc-date-picker-not-focused:not(.cc-date-picker-has-value) {
            .react-date-picker__inputGroup,
            .react-date-picker__inputGroup__divider {
                visibility: hidden;
            }
        }

        &.react-date-picker--disabled {
            background: var(--form-element-disabled-bg);
            color: var(--form-element-disabled-color);
            border: 1px solid var(--form-element-disabled-border);
            cursor: not-allowed;

            input, button { cursor: not-allowed; }

            .react-date-picker__inputGroup__input,
            .react-date-picker__inputGroup__leadingZero,
            .react-date-picker__inputGroup__divider {
                color: var(--date-picker-disabled-color);
                -webkit-text-fill-color: var(--date-picker-disabled-color);
            }

            .react-date-picker__inputGroup__divider {
                padding-right: 0.215rem;
            }
    
            .cc-calendar-icon, .cc-calendar-icon svg { 
                fill: var(--date-picker-disabled-color) 
            }
    
            &::placeholder { color: var(--date-picker-disabled-color) }
        }
    
        &.cc-date-picker-invalid:not(.react-date-picker--disabled) {
            &:hover {
                &:after {
                    height: 0.14rem;
                    background-color: var(--error);
                }
            }
    
            &:after {
                content: '';
                bottom: -0.07rem;
                height: 0.07rem;
                background-color: var(--error);
                position: absolute;
                left: 0;
                right: 0;
            }
    
            &.react-date-picker__calendar--open { height: 0.14rem }
        }
    
        .react-date-picker__wrapper{
            border: none;
            height: 100%;
            margin: 0 -0.14rem;
            padding-right: 0.715rem;
        }
    
        .react-date-picker__calendar--open { z-index: 99 }
    
        .cc-calendar-icon, .cc-calendar-icon svg {
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--app-color);
        }
    
        .react-date-picker__inputGroup__input:invalid { background: transparent }
    
        .react-date-picker__inputGroup__input,
        .react-date-picker__inputGroup__input::placeholder {
            height: 1.5rem;
            font-weight: lighter;
            color: var(--app-color);
        }
    
        .react-date-picker__calendar-button{
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            right: 0.215rem;
        }
    
        .react-date-picker__inputGroup__year {
            min-width: 2.3rem;
        }
    
        .react-date-picker__inputGroup__day,
        .react-date-picker__inputGroup__month {
            min-width: 1.215rem;
    
            &.react-date-picker__inputGroup__input--hasLeadingZero,
            &.react-daterange-picker__inputGroup__input--hasLeadingZero {
                min-width: 0.65rem;
            }
        }
    
        &.cc-date-picker-today-highlight .react-datepicker__tile--now {
            background-color: var(--date-picker-today-mark);
            border-radius: 50%;
            color: var(--date-picker-tile-now-color);
        }
    }
    */
}

.cc-date-picker-calendar {
    font-family: Calibri;
    font-weight: lighter;
    font-size: 1rem;
    border-color: var(--date-picker-view-container-border-color);
    border-radius: 0;
    background-color: var(--date-picker-calendar-bg-color);
    width: 100%;

    .react-datepicker__header {
        background-color: var(--date-picker-navigation-bg-color);

        .react-datepicker__current-month, 
        .react-datepicker-time__header, 
        .react-datepicker-year-header {        
            color: var(--date-picker-font-color);
            font-size: 1.25rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem;
        border: none;
        .cc-icon-btn svg{
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    .react-datepicker__day-name,
    .react-datepicker__day {
        color: var(--date-picker-font-color);
        width: 2.5rem;
        line-height: 2.5rem;
    }

    .react-datepicker__day {
        &:hover { 
            border-radius: 0;
            background-color: var(--date-picker-tile-active-hover-bg-color);
        }
        &--disabled {
            color: var(--date-picker-disabled-color);
        }
    }

    //.react-datepicker__day--keyboard-selected,
    .react-datepicker__day--selected, 
    .react-datepicker__day--in-selecting-range, 
    .react-datepicker__day--in-rang {
        color: var(--date-picker-tile-active-color);
        background-color: var(--date-picker-tile-active-bg-color);
        border-radius: 0;
        font-weight: bold;
        &:hover { 
            border-radius: 0;
            color: var(--date-picker-font-color);
            background-color: var(--date-picker-tile-active-hover-bg-color);
        }
    }
}