.cc-select-all {
    padding: 0.85rem 0.425rem;
    max-height: 3.15rem;
    display: none;
    background-color: var(--select-list-background-color);
    border: 1px solid var(--select-option-border-color);
    border-bottom: 1px solid var(--form-element-border);
    cursor: pointer;
}

.cc-select-open {
    .cc-select-all {
        display: flex;
        align-items: center;
    }
}