.navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    top: 4rem;
    height: 100%; // Modify in the future
    z-index: 100;
    background-color: var(--navigation-bg);
    border-right: 1px solid var(--app-bg);

    &-collapse {
        width: var(--vertical-nav-collapse-width);
        transition: width 0.5s;
        @media screen and (max-width: 576px){
            display: none;
        }
    }
    &-expanded {
        width: var(--vertical-nav-expanded-width);
        transition: width 0.5s;
        @media screen and (max-width: 576px){
            display: flex;
            width: var(--vertical-nav-collapse-width);
        }
    }

    button {
        height: var(--vertical-nav-collapse-width);
        gap: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        padding: 0;
        background: transparent;
        color: var(--navbar-color);
        border: none;
        transition: background-color 200ms ease-in;

        .cc-icon {
            width: 100%;
        }
        svg {
            width: 2rem;
            height: auto;
        }

        h1 {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            font-size: large;
            @media screen and (max-width: 576px){
                display: none;
            }
        }

        &.active {
            color: white;
            background-color: var(--app-bg);
            &:before {
                content: '';
                display: block;
                width: 0.25rem;
                height: 100%;
                position: absolute;
                z-index: 1;
                background: var(--app-color);
            }
        }
        &:hover {
            background-color: var(--app-bg);
        }
    }
}