// Colors
$white: rgb(255, 255, 255);
$black: #1A1A24;
$black-with-opacity: #1A1A24CC;

$grey-200: #EAEAF2;
$grey-400: #747480;
$grey-450: #3A3A4A;
$grey-500: #2E2E38;
$grey-550: #2E2E3C;
$grey-580: #2E2E38;
$grey-600: #23232F;
$grey-700: #000000B3;

$orange: #FF810A;