@import './colors';
// Variables
$app-bg-default: $black;
$app-submenu-bg-default: $grey-600;
$color-default: $white;
$highlight-default: $orange;
$disabled-default: $grey-400;

$navigation-bg-default: $grey-550;
$scrollbar-bg-default: $grey-450;

$modal-overlay-bg-default: $black-with-opacity;

$border-color-default: $grey-500;
$border-color-navigation-default: $grey-600;
$border-hover-default: $grey-500;

$btn-primary-color-bg-default: $orange;
$btn-primary-color-default: $black;
$btn-primary-hover-bg-default: $grey-200;
$btn-primary-hover-default: $black;

$btn-primary-color-disabled-bg-default:$grey-600;
$btn-primary-color-disabled-default:$grey-400;
$btn-primary-border-disabled-default:$grey-600;

$btn-secondary-color-bg-default: transparent;
$btn-secondary-color-default: $white;
$btn-secondary-hover-bg-default: $grey-200;
$btn-secondary-hover-default: $black;

$btn-icon-hover-bg-default: $grey-450;
$btn-icon-hover-color-default: $white;
$btn-icon-focus-bg-default: $grey-450;
$btn-icon-focus-color-default: $white;
$btn-icon-disabled-default: $grey-400;

$progress-loader-square-color-default: $orange;

$dropdown-bg-default: $grey-550;
$dropdown-color-default: $white;

$chip-bg-default: $grey-500;
$chip-color-default: $white;
$chip-monochrome-bg-default: $white;
$chip-monochrome-color-default: $grey-500;

$form-element-bg-default: $grey-600;
$form-element-hover-default: $grey-550;
$form-element-border-default: $grey-200;
$form-element-disabled-color-default: $grey-400;
$form-element-disabled-border-default: $grey-450;

$card-bg-default: $grey-600;
$card-box-shadow-color-hover-default: $grey-700;
$card-border-color-default: $grey-500;
$card-footer-bg-default: $grey-450;

$tab-navigator-font-color-default: $white;
$tab-navigator-hover-font-color-default: $white;
$tab-navigator-border-bottom-default: 1px solid $grey-400;
$tab-navigator-disabled-color-default: $grey-400;