@import './colors';

.theme-default {
    // App variables
    --app-bg: #{$black};
    --app-submenu-bg: #{$grey-600};
    --app-color: #{$white};
    --app-highlight: #{$branding};
    --disabled: #{$grey-400};

    --error: #{$error};
    --warning: #{$warning};
    --success: #{$success};

    --navigation-bg: #{$grey-550};
    --scrollbar-bg: #{$grey-450};

    --label-color: #{$white};
    --icon-color: #{$white};

    --border-color: #{$grey-500};
    --border-color-navigation : #{$grey-600};
    --border-hover: #{$grey-500};

    --btn-padding: 0.42rem;
    --btn-padding-medium: 0.57rem;
    --btn-padding-large: 0.715rem;

    --btn-primary-color-bg: #{$branding};
    --btn-primary-color-border: #{$branding};
    --btn-primary-color: #{$black};
    --btn-primary-hover-bg: #{$grey-200};
    --btn-primary-hover-border: #{$grey-200};
    --btn-primary-hover-color: #{$black};

    --btn-primary-alt-color-bg: #{$grey-200};
    --btn-primary-alt-color-border: #{$grey-200};
    --btn-primary-alt-color: #{$black};
    --btn-primary-alt-hover-bg: #{$branding};
    --btn-primary-alt-hover-border: #{$branding};
    --btn-primary-alt-hover-color: #{$black};

    --btn-secondary-color-bg: #{$black};
    --btn-secondary-color-border: #{$grey-200};
    --btn-secondary-color: #{$white};
    --btn-secondary-hover-bg: #{$black};
    --btn-secondary-hover-border: #{$branding};
    --btn-secondary-hover-color: #{$branding};

    --btn-warn-color-bg: #{$error};
    --btn-warn-color-border: #{$error};
    --btn-warn-color: #{$black};
    --btn-warn-hover-bg: #{$grey-200};
    --btn-warn-hover-border: #{$grey-200};
    --btn-warn-hover-color: #{$black};

    --btn-color-disabled-bg: #{$grey-600};
    --btn-color-disabled: #{$grey-400};
    --btn-border-disabled: #{$grey-600};

    --btn-text-color: #{$white};
    --btn-text-disabled: #{$grey-400};
    --btn-text-alt-color: #{$branding};

    --btn-icon-hover-bg: #{$grey-450};
    --btn-icon-hover-color:#{$white};
    --btn-icon-focus-bg:#{$grey-450};
    --btn-icon-focus-color:#{$white};
    --btn-icon-disabled:#{$grey-400};

    --progress-loader-square-color: #{$branding};

    --dropdown-bg: #{$grey-550};
    --dropdown-color: #{$white};

    --modal-overlay-bg: #{$black-with-opacity};

    --chip-bg: #{$grey-500};
    --chip-color: #{$white};
    --chip-info-bg: #{$info-bg};
    --chip-info-color: #{$info};
    --chip-success-bg: #{$success-bg};
    --chip-success-color: #{$success};
    --chip-warning-bg: #{$warning-bg};
    --chip-warning-color: #{$warning};
    --chip-error-bg: #{$error-bg};
    --chip-error-color: #{$error};

    --form-element-bg: #{$grey-600};
    --form-element-hover: #{$grey-550};
    --form-element-border: #{$grey-200};
    --form-element-disabled-bg: #{$grey-600};
    --form-element-disabled-color: #{$grey-400};
    --form-element-disabled-border: #{$grey-450};

    --select-list-background-color: #{$grey-600};
    --select-option-hover-bg-color: #{$grey-550};
    --select-option-selected-color: #{$branding};
    --select-option-selected-bg-color: #{$grey-550};
    --select-option-border-color: transparent;
    --select-option-disable-color: #{$grey-400};
    --select-option-disable-bg-color: #{$grey-450};
    --select-option-disable-border-color: #{$grey-450};
    --select-trigger-icon-color: #{$white};

    --checkbox-bg-color: transparent;
    --checked-bg-color: #{$white};
    --checked-border-color: #{$white};
    --checked-disabled-bg-color: #{$grey-450};
    --checked-icon-color: #{$black};

    --card-bg: #{$grey-600};
    --card-box-shadow-color-hover: #{$grey-600};
    --card-border-color: #{$grey-500};
    --card-footer-bg: #{$grey-450};

    --tab-navigator-font-color: #{$white};
    --tab-navigator-hover-font-color: #{$white};
    --tab-navigator-border-bottom: 1px solid #{$grey-400};
    --tab-navigator-disabled-color: #{$grey-400};

    --toast-close-btn-color: #{$white};
    --toast-action-btn-color: #{$branding};
    --toast-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    --toast-bg-color: #{$grey-550};
    --toast-success-icon-color: #{$success};
    --toast-error-icon-color: #{$error};
    --toast-warning-icon-color: #{$warning};
    --toast-info-icon-color: #{$white};

    --progress-bar-color: #{$branding};
    --progress-bar-bg-color: #{$grey-550};

    --progress-indicator-heading-color: #{$white}; 
  --progress-indicator-body-color: #{$white}; 
  --progress-indicator-bar-color: #{$grey-400}; 
  --progress-indicator-bg-color: transparent;
  --progress-indicator-border-color: #{$grey-400};
  --progress-indicator-completed-heading-color: #{$white};
  --progress-indicator-completed-body-color: #{$grey-400};
  --progress-indicator-completed-hover-body-color: #{$white};
  --progress-indicator-completed-bar-color: #{$yellow-400};
  --progress-indicator-completed-bg-color: #{$yellow-400};
  --progress-indicator-completed-border-color: #{$yellow-400};
  --progress-indicator-completed-fill-color: #{$black};
  --progress-indicator-active-heading-color: #{$white};
  --progress-indicator-active-body-color: #{$white};
  --progress-indicator-active-bar-color: #{$yellow-400};
  --progress-indicator-active-bg-color: transparent;
  --progress-indicator-active-border-color: #{$yellow-400};
  --progress-indicator-active-fill-color: transparent;
  --progress-indicator-disabled-heading-color: #{$grey-400};
  --progress-indicator-disabled-body-color: #{$grey-400};
  --progress-indicator-disabled-bar-color: #{$grey-580};
  --progress-indicator-disabled-bg-color: transparent;
  --progress-indicator-disabled-border-color: #{$grey-580};
  --progress-indicator-disabled-fill-color: #{$grey-600};
  --progress-indicator-error-heading-color: #{$white};
  --progress-indicator-error-bar-color: #{$red-300};
  --progress-indicator-error-bg-color: #{$red-300};
  --progress-indicator-error-border-color: #{$red-300};
  --progress-indicator-error-fill-color: #{$grey-600};
  --progress-indicator-warning-bg-color: #{$orange-warning};
  --progress-indicator-warning-bar-color: #{$orange-warning};
  --progress-indicator-warning-fill-color: #{$black};
  --progress-indicator-warning-border-color: var(--error);
}

    