@import './colors';

.theme-default {
    // App variables
    --app-bg: #{$black};
    --app-submenu-bg: #{$grey-600};
    --app-color: #{$white};
    --app-highlight: #{$orange};
    --disabled: #{$grey-400};

    --error: #{$error};
    --warning: #{$warning};
    --success: #{$success};

    --navigation-bg: #{$grey-550};
    --scrollbar-bg: #{$grey-450};

    --label-color: #{$white};
    --icon-color: #{$white};

    --border-color: #{$grey-500};
    --border-color-navigation : #{$grey-600};
    --border-hover: #{$grey-500};

    --btn-primary-color-bg: #{$orange};
    --btn-primary-color: #{$black};
    --btn-primary-hover-bg: #{$grey-200};
    --btn-primary-hover: #{$black};

    --btn-primary-color-disabled-bg: #{$grey-600};
    --btn-primary-color-disabled: #{$grey-400};
    --btn-primary-border-disabled: #{$grey-600};

    --btn-secondary-color-bg: transparent;
    --btn-secondary-color: #{$white};
    --btn-secondary-hover-bg: #{$grey-200};
    --btn-secondary-hover: #{$black};

    --btn-icon-hover-bg: #{$grey-450};
    --btn-icon-hover-color:#{$white};
    --btn-icon-focus-bg:#{$grey-450};
    --btn-icon-focus-color:#{$white};
    --btn-icon-disabled:#{$grey-400};

    --progress-loader-square-color: #{$orange};

    --dropdown-bg: #{$grey-550};
    --dropdown-color: #{$white};

    --modal-overlay-bg: #{$black-with-opacity};

    --chip-bg: #{$grey-500};
    --chip-color: #{$white};
    --chip-info-bg: #{$info-bg};
    --chip-info-color: #{$info};
    --chip-success-bg: #{$success-bg};
    --chip-success-color: #{$success};
    --chip-warning-bg: #{$warning-bg};
    --chip-warning-color: #{$warning};
    --chip-error-bg: #{$error-bg};
    --chip-error-color: #{$error};

    --form-element-bg: #{$grey-600};
    --form-element-hover: #{$grey-550};
    --form-element-border: #{$grey-200};
    --form-element-disabled-bg: #{$grey-600};
    --form-element-disabled-color: #{$grey-400};
    --form-element-disabled-border: #{$grey-450};

    --select-list-background-color: #{$grey-600};
    --select-option-hover-bg-color: #{$grey-550};
    --select-option-selected-color: #{$orange};
    --select-option-selected-bg-color: #{$grey-550};
    --select-option-border-color: transparent;
    --select-option-disable-color: #{$grey-400};
    --select-option-disable-bg-color: #{$grey-450};
    --select-option-disable-border-color: #{$grey-450};
    --select-trigger-icon-color: #{$white};

    --checkbox-bg-color: transparent;
    --checked-bg-color: #{$white};
    --checked-border-color: #{$white};
    --checked-disabled-bg-color: #{$grey-450};
    --checked-icon-color: #{$black};

    --card-bg: #{$grey-600};
    --card-box-shadow-color-hover: #{$grey-600};
    --card-border-color: #{$grey-500};
    --card-footer-bg: #{$grey-450};

    --tab-navigator-font-color: #{$white};
    --tab-navigator-hover-font-color: #{$white};
    --tab-navigator-border-bottom: 1px solid #{$grey-400};
    --tab-navigator-disabled-color: #{$grey-400};

    --toast-close-btn-color: #{$white};
    --toast-action-btn-color: #{$orange};
    --toast-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    --toast-bg-color: #{$grey-550};
    --toast-success-icon-color: #{$success};
    --toast-error-icon-color: #{$error};
    --toast-warning-icon-color: #{$warning};
    --toast-info-icon-color: #{$white};

    --progress-bar-color: #{$orange};
    --progress-bar-bg-color: #{$grey-550};
}

    