.delete-modal {
    width: min-content;
    &-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-delete-btn {
            background-color: var(--error);
            border-color: var(--error);
            color: var(--app-color);
        }
    }
}