.cc-form-field-error {
    font-size: 0.85rem;
    font-weight: lighter;
    color: var(--error);
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 0;

    .cc-form-field-error-icon {
        position: relative;
        margin: -0.07rem 0.35rem -0.07rem -0.07rem;
        color: var(--error);
        svg {
            height: 1.3rem;
            width: 1.3rem;
            flex-shrink: 0;
        }
    }
}
